include: 'templates/load-performance-testing.gitlab-ci.yaml'

generate:
  extends: .pack
  artifacts:
    paths:
      - dist/
    expire_in: 1 min

capture:
  variables:
    SITESPEED_TEST_CASE: './src/sitespeed-test.js'
  extends: .capture
  dependencies: 
    - generate
  artifacts:
    reports:
      load_performance: performance.json

benchmark:
  variables:
    K6_TEST_CASE: './dist/get-200-status-test.js'
  extends: .benchmark
  dependencies: 
    - generate
  artifacts:
    reports:
      load_performance: performance.json
