# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Verify/Load-Performance-Testing.gitlab-ci.yml

# Read more about the feature here: https://docs.gitlab.com/ee/ci/testing/code_quality.html

stages:
  - build
  - test
  - deploy
  - performance

.pack:
  stage: build
  image: node:12.13.0
  script:
    - yarn --frozen-lockfile
    - yarn webpack

.benchmark:
  stage: performance
  variables:
    XK6_BROWSER_VERSION: 0.8.1
    K6_VERSION: 0.41.0
    K6_OPTIONS: ''
    K6_REPORT: 'performance.json'
    K6_SUITE: './dist'
  script:
    - wget https://github.com/grafana/k6/releases/download/v${K6_VERSION}/k6-v${K6_VERSION}-linux-amd64.tar.gz
    - tar xf k6-v${K6_VERSION}-linux-amd64.tar.gz
    - wget https://github.com/grafana/xk6-browser/releases/download/v${XK6_BROWSER_VERSION}/xk6-browser-v${XK6_BROWSER_VERSION}-linux-amd64.tar.gz
    - tar xf k6-v${K6_VERSION}-linux-amd64.tar.gz
    - tar xf xk6-browser-v${XK6_BROWSER_VERSION}-linux-amd64.tar.gz
    - mv ./k6-v${K6_VERSION}-linux-amd64/k6 /usr/bin/k6
    - mv ./xk6-browser-v${XK6_BROWSER_VERSION}-linux-amd64/xk6-browser /usr/bin/xk6-browser
    - |
      for K6_CASE in $(find ${K6_SUITE} -type f -name "*.api.js"); do
        K6_BROWSER_ENABLED=true k6 run ${K6_CASE}           \
              --summary-export=${K6_REPORT}                 \
              ${K6_OPTIONS}
      done
    - |
      for K6_CASE in $(find ${K6_SUITE} -type f -name "*.ui.js"); do
        K6_BROWSER_ENABLED=true xk6-browser run ${K6_CASE}  \
              --summary-export=${K6_REPORT}                 \
              ${K6_OPTIONS}
      done
