# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Verify/Load-Performance-Testing.gitlab-ci.yml

# Read more about the feature here: https://docs.gitlab.com/ee/ci/testing/code_quality.html

stages:
  - build
  - test
  - capture
  - performance
  - approve

.pack:
  stage: build
  image: node:12.13.0
  script:
    - yarn --frozen-lockfile
    - yarn webpack

.benchmark:
  stage: performance
  image: docker:git
  variables:
    K6_VERSION: 0.41.0
    K6_TEST_CASE: ''
    K6_OPTIONS: ''
  script:
    - wget https://github.com/grafana/k6/releases/download/v${K6_VERSION}/k6-v${K6_VERSION}-linux-amd64.tar.gz
    - tar xf k6-v${K6_VERSION}-linux-amd64.tar.gz
    - |
      ./k6-v${K6_VERSION}-linux-amd64/k6           \
            run ${K6_TEST_CASE}                    \
            --summary-export=performance.json      \
            ${K6_OPTIONS}

.capture:
  stage: capture
  image: docker:git
  variables:
    XK6_BROWSER_VERSION: 0.8.1
    XK6_TEST_CASE: ''
    XK6_OPTIONS: ''
  script:
    - wget https://github.com/grafana/xk6-browser/releases/download/v${XK6_BROWSER_VERSION}/xk6-browser-v${XK6_BROWSER_VERSION}-linux-amd64.tar.gz
    - tar xf xk6-browser-v${XK6_VERSION}-linux-amd64.tar.gz
    - |
      ./xk6-browser-v${K6_VERSION}-linux-amd64/xk6-browser  \
            run ${K6_TEST_CASE}                             \
            --summary-export=performance.json               \
            ${XK6_OPTIONS}
  artifacts:
    paths:
      - performance.json
      - sitespeed-results/
    reports:
      performance: performance.json
